* {
    -fx-text-fill: #000;
}

.table-view {
    -fx-background-color: #e6e6e6;
}
.table-view:hover{
    -fx-background-color: #d2d2d2;
}

.coluna {
    -fx-background-color: #e6e6e6;
}

.button {
    -fx-text-fill: #fff;
}